.post {
  background: white;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  color: initial;
  margin: 0 1.5rem 1.5em;
  padding: 1rem;
  text-decoration: none;
  transition: box-shadow 0.25s ease-in;
  width: calc(100% - 5rem);
}

.title {
  composes: h4 from '../../typography.css';
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.description {
  composes: p from '../../typography.css';
}

.descriptionVideo {
  composes: description;
  margin-bottom: 0;
}

.date {
  background: #18D8F0;
  composes: p from '../../typography.css';
  line-height: 1rem;
  margin: 0;
  padding: .75rem 0 .75rem 1rem;
  transform: translate(-1rem, -1rem);
  width: calc(100% + 1rem + .5px);
}

@media (min-width: 540px) {
  .post {
    margin: 0 1.5rem 3em;
    width: calc(50% - 5rem);
  }
}

@media (min-width: 720px) {
  .post {
    width: calc(33.33% - 5rem);
  }
}
