.post {
  background: white;
  border-top: 3px solid #F090C0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  color: initial;
  margin: 0 1.5rem 3em;
  padding: calc(1rem - 3px) 1rem 1rem;
  text-decoration: none;
  transition: box-shadow 0.25s ease-in;
  width: calc(100% - 5rem);
}

.post:hover, .post:focus {
  box-shadow: 8px 8px 20px rgba(0,0,0,0.25);
}

.title {
  composes: h4 from '../../typography.css';
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.description {
  composes: p from '../../typography.css';
}

.description__tweet {
  composes: small from '../../typography.css';
}

.date {
  composes: p from '../../typography.css';
  line-height: 1rem;
  margin-bottom: 0;
}

@media (min-width: 540px) {
  .post {
    width: calc(50% - 5rem);
  }
}

@media (min-width: 720px) {
  .post {
    width: calc(33.33% - 5rem);
  }
}

.post__tweet {
  composes: post;
  border-top: none;
  padding: 1rem;
}

.post__tweet .title {
  display: none;
}
