# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
/public/images/rendered

# rendered
/rendered

# misc
.DS_Store
now.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
