.actions {
  display: flex;
  justify-content: flex-end;
}

.link {
  background: #F090C0;
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF #808080 #808080 #FFFFFF;
  composes: small from '../../../typography.css';
  margin: 0 0 0 1rem;
  padding: .35rem 1.5rem;
  text-align: center;
  text-decoration: none;
}

.link:nth-child(odd) {
  background: transparent;
  border-color: #F090C0;
}

.link::before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: box-shadow 0.25s ease-in;
  width: 100%;
  z-index: -1;
}

.link:focus::before, .link:hover::before {
  box-shadow: 8px 8px 20px rgba(0,0,0,0.25);
}
