.about {
  border-bottom: 1px #bdbdbd solid;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  transform: translateY(-1rem);
}

.half {
  composes: p from '../typography.css';
  margin-bottom: 0;
}

.introduction {
  align-self: center;
  composes: half;
  margin-top: 1rem;
  max-width: 24rem;
  text-align: center;
}

.link {
  composes: body-font from '../typography.css';
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.link:after {
  background: #F090C0;
  content: '';
  display: block;
  height: 2px;
  transform: translateY(-3px);
  width: 100%;
}

.skills {
  composes: half;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  text-align: center;
  transform: translateX(-.75rem);
  width: calc(100% + 1.5rem);
}

.skill {
  composes: small from '../typography.css';
  background: #ff9900;
  border-top: 6px dashed #ececec;
  display: inline-block;
  margin: 1rem .75rem 0 .75rem;
  padding: .6rem 1rem;
}

.skill:hover {
  animation: wiggle .25s infinite;
}

@keyframes wiggle {
  0% {transform: rotate(3deg);}
  50% {transform: rotate(-3deg);}
  100% {transform: rotate(3deg);}
}


@media (min-width: 888px) {
  .skills {
    justify-content: space-between;
  }
}
