.intro {
  border-bottom: 1px #bdbdbd solid;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  transform: translateY(-1rem);
}

.half {
  composes: p from '../typography.css';
  margin-bottom: 0;
}

.description {
  align-self: center;
  composes: half;
  margin-top: 1rem;
  max-width: 24rem;
  text-align: center;
}

.link {
  composes: body-font from '../typography.css';
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.link:after {
  background: #F090C0;
  content: '';
  display: block;
  height: 2px;
  transform: translateY(-3px);
  width: 100%;
}

@media (min-width: 720px) {
  .intro {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0;
  }

  .description {
    margin-top: 3rem;
    text-align: left;
  }
}
