.container {
  display: flex;
  justify-content: center;
  height: 12.25rem;
}

.logo {
  margin: 3rem;
  position: relative;
  text-decoration: none;
}

.oval {
  background: #18D8F0;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  box-sizing: content-box;
  border: none;
  border-radius: 50%;
  height: 90%;
  position: absolute;
  text-overflow: clip;
  top: 5%;
  width: 100%;
}

.text {
  composes: h1 from '../../typography.css';
  color: #F090C0;
  margin: 0;
  padding: 0 5%;
  text-align: center;
  text-shadow: 2px 2px 5px black;
  white-space: nowrap;
  width: 90%;
}

.logo:hover .oval, .logo:focus .oval {
  box-shadow: 8px 8px 20px rgba(0,0,0,0.25);
}

.logo:hover .text, .logo:focus .text {
  font-size: 3.25rem;
  line-height: 3.23rem;
  margin-top: -.1rem;
}

@media (min-width: 720px) {
  .container {
    height: 17rem;
  }

  .logo {
    margin: 6rem 3rem 3rem 0;
  }

  .text {
    font-size: 4rem;
    line-height: 4rem;
  }

  .oval, .text {
    transition: all 0.1s ease-in;
  }

  .logo:hover .oval, .logo:focus .oval {
    box-shadow: 8px 8px 20px rgba(0,0,0,0.25);
  }

  .logo:hover .text, .logo:focus .text {
    font-size: 4.25rem;
    line-height: 4.23rem;
    margin-top: -.2rem;
  }
}
