{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": "true"
  },
  "rules": {
    "max-len": ["error", { "ignoreStrings": true }],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
