@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400|Permanent+Marker);

.body-font {
  font-family: 'Open Sans', sans-serif;
}

//Perfect Fourth
.h1 {}
.h1 {
  font-size: 3.157rem;
  line-height: 3.157rem;
  font-family: 'Permanent Marker', cursive;
  margin: 0 0 3.157rem;
}
.h2 {
  composes: body-font;
  font-size: 2.369rem;
  line-height: 2.369rem;
  margin: 0 0 2.369rem;
}
.h3 {
  composes: body-font;
  font-size: 1.777rem;
  line-height: 1.777rem;
  margin: 0 0 1.777rem;
}
.h4 {
  composes: body-font;
  font-size: 1.333rem;
  line-height: 1.333rem;
  margin: 0 0 1.333rem;
}
.p {
  composes: body-font;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 0 1rem;
}
.small {
  composes: body-font;
  font-size: .75rem;
  line-height: .75rem;
  margin: 0 0 .75rem;
}