.body-font {
  color: #2a2a2a;
  font-family: 'Open Sans', sans-serif;
}

/* Perfect Fourth Type Scale */

.h1 {
  font-size: 3.157rem;
  line-height: 3.157rem;
  font-family: 'Permanent Marker', cursive;
  margin: 0 0 3.157rem;
}
.h4 {
  composes: body-font;
  font-size: 1.333rem;
  line-height: 1.8rem;
  margin: 0 0 1.333rem;
}
.h5 {
  border-bottom: 1px #bdbdbd solid;
  composes: body-font;
  font-size: 1.25rem;
  line-height: 1.6rem;
  margin: 0 0 2rem;
  padding-bottom: .5rem;
}
.p {
  composes: body-font;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0 0 1rem;
}
.small {
  composes: body-font;
  font-size: .75rem;
  line-height: 1.2rem;
  margin: 0 0 1.333rem;
}
